/*

!/stfiles
/stfiles/*
!/stfiles/scripts
!/stfiles/.gitkeep
!/stfiles/*.ioc
!/stfiles/Makefile
!/stfiles/startup_*.s
!/stfiles/*_FLASH.ld

!/src
!/inc
!/scripts
!/Makefile
!/conf.mk
!/README.md
!/.gitignore
